@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lexend&display=swap');

body
{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.windowTransitioning
{
    transition: top 1s ease-in-out;
}

table, td, th, tr
{
    /*border: none;*/
    text-align: center;
}

td
{
    font-family: 'Lexend', sans-serif;
    font-size: 1vw;
    text-align: center;
    width: 40%;
}
th, td.importantCell
{
    font-family: 'Josephin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
}

body > div.resources
{
    display: none;
}

body > div.window
{
    position: absolute;
    top: -100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
}

body > div.window > main
{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

main.lobby
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main.lobby > section.roomInfo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

section.roomInfo > *
{
    max-width: 70vw;
}

section.roomInfo > image.logo
{
    width: 10vh;
    height: 10vh;
}

section.roomInfo > h1#lobbyRoomName
{
    font-size: 3vw;
}

section.roomInfo > p
{
    font-family: 'Lexend', sans-serif;
}

section.roomInfo > p#lobbyRoomCode
{
    font-size: 2vw;
}

section.roomInfo > p#startInfoBox
{
    font-size: 1.5vw;
}

section.roomInfo > button#startButton
{
    background-color: var(--primary-color);
    background-clip: border-box;
    color: var(--primary-complement-text-color);
    border: none;
    border-right: 0.4vw solid rgba(0,0,0,0);
    border-bottom: 0.4vw solid rgba(0,0,0,0);
    border-top: 0.4vw solid rgba(255, 255, 255, 0.5);
    border-left: 0.4vw solid rgba(255,255,255,0.5);
    border-radius:0.5vw;
    padding: 1vw;
    font-size: 1vw;
    font-family: 'Lexend', sans-serif;

    display: none;
}

section.roomInfo > button#startButton:focus
{
    outline: none;
    border-right: 0.4vw solid rgba(0,0,0,0.5);
    border-bottom: 0.4vw solid rgba(0,0,0,0.5);
    border-top: 0.4vw solid rgba(255, 255, 255, 0);
    border-left: 0.4vw solid rgba(255,255,255,0);
}

main.lobby > section.playerInfo
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 20vw;
    align-self: start;
    background-color: black;
    color: white;
    height: 100vh;
    max-height: 100vh;
}

section.playerInfo > h1
{
    font-family: 'Josefin Sans', sans-serif;
}

section.playerInfo > div#playerList
{
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

div#playerList > p
{
    margin: 0;
    padding: 0;
    text-align: center;
}

main.game
{
    background-color: var(--grayscale-color);
    display: grid;
    
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "currentPlaying gameBoard"
    "playerInfo gameBoard";
}

main.game > section.currentPlaying, main.game > section.playerInfo
{
    padding: 1vw;
}

main.game > section.currentPlaying
{
    grid-area: currentPlaying;
    background-color: var(--primary-color);
    color: var(--primary-complement-text-color);
    font-family: 'Lexend', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.currentPlaying > *
{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

section.currentPlaying > p#currentPlayerName
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

section.currentPlaying > p.currentPlayingText
{
    font-family: 'Lexend', sans-serif;
    font-size: 1vw;
}

main.game > section.playerInfo
{
    grid-area: playerInfo;
    background-color: var(--secondary-color);
    color: var(--primary-complement-text-color);
    font-family: 'Lexend', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.game > section.gameBoard
{
    grid-area: gameBoard;
    background-color: var(--grayscale-color);
    color: var(--grayscale-complement-text-color);
    font-family: 'Lexend', sans-serif;
}

section.gameBoard > canvas#gameCanvas
{
    background-color: #FFFFFF;
    width: 80vw;
    height: 100vh;
}

main.endScreen
{
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.endScreen > p
{
    color: white;
    font-size: 2vw;
    max-width: 80vw;
}